/*
Theme Name:     Bcm-theme
Theme URI:      
Description:    Astra child theme.
Author:         Me
Author URI:     
Template:       astra
Version:        0.1.0
*/


.learndash-wrapper .wpProQuiz_content .wpProQuiz_button, 
.learndash-wrapper .wpProQuiz_content .wpProQuiz_button2 {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: inherit;
    line-height: 1;
    border-color: #004d7f;
    background-color: #004d7f;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

.elementor-shortcode form {
    padding: 0;
    margin: 0;
    ._form-label {
        font-size: 0.8rem;
    }
    ._button-wrapper {
        margin-top: 1rem;
        button {
            border-radius: 5px;
        }
    }
    ._form-branding {
        display: none;
    }
}
