/*
Theme Name:     Bcm-theme
Theme URI:      
Description:    Astra child theme.
Author:         Me
Author URI:     
Template:       astra
Version:        0.1.0
*/
/* line 12, sass/style.scss */
.learndash-wrapper .wpProQuiz_content .wpProQuiz_button,
.learndash-wrapper .wpProQuiz_content .wpProQuiz_button2 {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: inherit;
  line-height: 1;
  border-color: #004d7f;
  background-color: #004d7f;
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}

/* line 29, sass/style.scss */
.elementor-shortcode form {
  padding: 0;
  margin: 0;
}
/* line 32, sass/style.scss */
.elementor-shortcode form ._form-label {
  font-size: 0.8rem;
}
/* line 35, sass/style.scss */
.elementor-shortcode form ._button-wrapper {
  margin-top: 1rem;
}
/* line 37, sass/style.scss */
.elementor-shortcode form ._button-wrapper button {
  border-radius: 5px;
}
/* line 41, sass/style.scss */
.elementor-shortcode form ._form-branding {
  display: none;
}
